.div_info {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    margin: 0 !important;
    background-color: navy;
    border: 0.3rem solid navy;
    padding: 0.5rem !important;
}

.box img {
    width: 50px;
    border-radius: 20%;
}

.box:hover {
    background-color: deepskyblue;
}

.box a p {
    font-size: larger;
    color: white;
}