* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: black;
    cursor: default;
    text-decoration: none;
    transition: 0.3s all;
    flex-wrap: wrap;
    scroll-behavior: smooth;

    /* for Firefox  */
    scrollbar-color: #000b1d limegreen;
    scrollbar-width: auto;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    margin-right: 7px;
    margin-left: 7px;
    background: #000b1d;
}

header {
    background-color: limegreen;
    border-radius: 0px 0px 20px 20px;
    padding: 5px;
}

nav {
    background-color: limegreen;
    font-weight: bold;
    font-size: larger;
    margin: 5px;
    padding: 5px 20px;
    display: flex;
}

.nav {
    background-color: #000b1d;
    border: 2px solid #000b1d;
    color: limegreen;
    border-radius: 10px;
    flex-grow: 1;
    padding: 5px;
    margin: 3px;
}

.AboutUs_nav,
.Home_nav {
    flex: 100%;
}

.hr_head {
    display: block;
    width: 99%;
    background-color: #000b1d;
    color: #000b1d;
    border: 0.1rem solid #000b1d;
    margin-top: 0.20rem;
    margin-bottom: 0.20rem;
}

.nav:hover,
.nav:focus {
    border: 2px solid #000b1d;
    background-color: limegreen;
    color: black;
    cursor: pointer;
}

.Container_AboutUs {
    border: 5px solid #000b1d;
    margin: auto;
    background-color: limegreen;
    padding: 5px;
}

.Container_AboutUs::backdrop {
    background-color: white;
    opacity: 0.4;
}

main {
    border-radius: 15px;
    background-color: limegreen;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 1px 5px limegreen,
        -1px -1px 5px limegreen;
}

.h1_main {
    background-color: limegreen;
    padding: 5px;
    margin-bottom: 5px;
}

.p_main {
    color: limegreen;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    background-color: #000b1d;
}

.section_main {
    background-color: #000b1d;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}

.learning_Dialog_buttons {
    border: 3px solid #000b1d;
    background-color: #000b1d;
    color: limegreen;
    border-radius: 5px;
    padding: 7px;
    margin: 7px;
    display: inline-flex;
    flex: content;
    direction: ltr;
}

.learning_Dialog_buttons:hover {
    cursor: pointer;
    background-color: limegreen;
    color: black;
}

.Exit_Prof {
    border: 2px solid #000b1d;
    background-color: #000b1d;
    color: limegreen;
    font-weight: bolder;
    width: min-content;
    position: absolute;
    position: 0;
    padding: 2px;
    display: inline-flex;
    left: 0;
}

.Exit_Prof:hover {
    color: black;
    background-color: limegreen;
    border: 2px solid #000b1d;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px #000b1d;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, limegreen, #000b1d);
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(270deg, #000b1d, limegreen, #000b1d);
}